<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Group</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e269a8">  <td>22/05/13 07:48:51</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Screept.beforeClass()[pri:0, instance:TestNgScript.Screept@2d8f65a4]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413246829</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>22/05/13 07:48:51</td>   <td>28</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Screept.beforeMethod()[pri:0, instance:TestNgScript.Screept@2d8f65a4]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1413246829</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>22/05/13 07:48:51</td>   <td>35</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Screept.afterMethod()[pri:0, instance:TestNgScript.Screept@2d8f65a4]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1413246829</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>22/05/13 07:48:51</td>   <td>28</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Screept.test1()[pri:0, instance:TestNgScript.Screept@2d8f65a4]">test1</td> 
  <td>main@1413246829</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>22/05/13 07:48:51</td>   <td>17</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Screept.test()[pri:0, instance:TestNgScript.Screept@2d8f65a4]">test</td> 
  <td>main@1413246829</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>22/05/13 07:48:51</td>   <td>35</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Screept.afterClass()[pri:0, instance:TestNgScript.Screept@2d8f65a4]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413246829</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>22/05/13 07:48:51</td>   <td>35</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Screept.afterMethod()[pri:0, instance:TestNgScript.Screept@2d8f65a4]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1413246829</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>22/05/13 07:48:51</td>   <td>28</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Screept.beforeMethod()[pri:0, instance:TestNgScript.Screept@2d8f65a4]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1413246829</td>   <td></td> </tr>
</table>
