<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>ParallelSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="94d491">  <td>22/06/03 11:42:05</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.f()[pri:0, instance:ParalleTestingExec.NewTest@d44fc21]">f</td> 
  <td>main@1429880200</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>22/06/03 11:42:05</td>   <td>8</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelExeupst.test()[pri:0, instance:ParalleTestingExec.ParallelExeupst@23faf8f2]">test</td> 
  <td>main@1429880200</td>   <td></td> </tr>
<tr bgcolor="9c6faa">  <td>22/06/03 11:42:00</td>   <td>-4975</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelExeface.test1()[pri:0, instance:ParalleTestingExec.ParallelExeface@4f063c0a]">test1</td> 
  <td>main@1429880200</td>   <td></td> </tr>
</table>
