<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>GroupSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e269a8">  <td>22/05/13 08:58:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PriorityAndotherKeywords.afterClass()[pri:0, instance:KeyWordsInTestNg.PriorityAndotherKeywords@57e1b0c]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1630521067</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>22/05/13 08:58:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PriorityAndotherKeywords.afterMethod()[pri:0, instance:KeyWordsInTestNg.PriorityAndotherKeywords@57e1b0c]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1630521067</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>22/05/13 08:58:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PriorityAndotherKeywords.afterMethod()[pri:0, instance:KeyWordsInTestNg.PriorityAndotherKeywords@57e1b0c]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1630521067</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>22/05/13 08:58:30</td>   <td>6</td> <td>&nbsp;</td><td title="&lt;&lt;PriorityAndotherKeywords.afterTest()[pri:0, instance:KeyWordsInTestNg.PriorityAndotherKeywords@57e1b0c]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1630521067</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>22/05/13 08:58:30</td>   <td>-4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PriorityAndotherKeywords.beforMethod()[pri:0, instance:KeyWordsInTestNg.PriorityAndotherKeywords@57e1b0c]">&gt;&gt;beforMethod</td> 
<td>&nbsp;</td>  <td>main@1630521067</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>22/05/13 08:58:30</td>   <td>-4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PriorityAndotherKeywords.beforMethod()[pri:0, instance:KeyWordsInTestNg.PriorityAndotherKeywords@57e1b0c]">&gt;&gt;beforMethod</td> 
<td>&nbsp;</td>  <td>main@1630521067</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>22/05/13 08:58:30</td>   <td>-41</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PriorityAndotherKeywords.beforeClass()[pri:0, instance:KeyWordsInTestNg.PriorityAndotherKeywords@57e1b0c]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1630521067</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>22/05/13 08:58:26</td>   <td>-3585</td> <td>&nbsp;</td><td title="&gt;&gt;PriorityAndotherKeywords.beforeTest(java.lang.String)[pri:0, instance:KeyWordsInTestNg.PriorityAndotherKeywords@57e1b0c]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1630521067</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>22/05/13 08:58:30</td>   <td>-25</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PriorityAndotherKeywords.test()[pri:0, instance:KeyWordsInTestNg.PriorityAndotherKeywords@57e1b0c]">test</td> 
  <td>main@1630521067</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>22/05/13 08:58:30</td>   <td>-4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PriorityAndotherKeywords.test1()[pri:0, instance:KeyWordsInTestNg.PriorityAndotherKeywords@57e1b0c]">test1</td> 
  <td>main@1630521067</td>   <td></td> </tr>
</table>
