<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>Grouping.Group_</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TC2</td>
<td>payment </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TC1</td>
<td>Login </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TC4</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC3</td>
<td>Login </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
