<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Login</td><td>Group_.TC3()[pri:0, instance:Grouping.Group_@7c29daf3]<br/>Group_.TC1()[pri:0, instance:Grouping.Group_@7c29daf3]<br/></td></tr>
<tr><td>payment</td><td>Group_.TC2()[pri:0, instance:Grouping.Group_@7c29daf3]<br/></td></tr>
</table>
