<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9c6faa">  <td>23/08/27 10:41:33</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Group_.TC1()[pri:0, instance:Grouping.Group_@7c29daf3]">TC1</td> 
  <td>main@140799417</td>   <td></td> </tr>
<tr bgcolor="9c6faa">  <td>23/08/27 10:41:33</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Group_.TC2()[pri:0, instance:Grouping.Group_@7c29daf3]">TC2</td> 
  <td>main@140799417</td>   <td></td> </tr>
<tr bgcolor="9c6faa">  <td>23/08/27 10:41:33</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Group_.TC3()[pri:0, instance:Grouping.Group_@7c29daf3]">TC3</td> 
  <td>main@140799417</td>   <td></td> </tr>
<tr bgcolor="9c6faa">  <td>23/08/27 10:41:33</td>   <td>16</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Group_.TC4()[pri:0, instance:Grouping.Group_@7c29daf3]">TC4</td> 
  <td>main@140799417</td>   <td></td> </tr>
</table>
