<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="94d491">  <td>22/10/02 17:34:59</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelExeupst.test()[pri:0, instance:ParalleTestingExec.ParallelExeupst@51cdd8a]">test</td> 
  <td>main@863125040</td>   <td></td> </tr>
<tr bgcolor="9c6faa">  <td>22/10/02 17:34:55</td>   <td>-3635</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelExeface.test1()[pri:0, instance:ParalleTestingExec.ParallelExeface@2a17b7b6]">test1</td> 
  <td>main@863125040</td>   <td></td> </tr>
</table>
